<h1>Editing admin_achievement</h1>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @admin_achievement] %> |
<%= link_to 'Back', admin_achievements_path %> |
<%= link_to 'Example user', 
    @admin_achievement.users.first.achievement_url(@admin_achievement),
    :target => :blank unless @admin_achievement.users.first.nil? %>