<td class="id"><%= clan.clan_id %></td>
<td class="tag">
  <%= link_to_clan_or_del(clan.clan, clan.tag, clan.world.short) %>
</td>
<td class="created_at">
  <%= time_tag clan.created_at.to_date %>
</td>
<td class="world_id"><%= clan.world.short %></td>