dl#clandetails {
  display : inline-block; 
  overflow: hidden;

  dd, dt {
    float: left; 
  }
  
  dd {
    padding-top: .2em;
    margin-top : .2em;
    vertical-align: bottom;
  }

  dt {
    font-size   : 1.2em;
    font-weight : bold;
    clear       : both; 
    margin-right: .5em;
    margin-right: 1ch;
    margin-top  : .2em;
    
    &.members + dd {
      clear      : both;
      margin-left: 1em;
    }
  } 
}

ul#members {
  display: none;
}