.news {
  &.heading {
    margin-bottom: .1em;
  }
  
  &.publish_at, &.updated_at {
    display: inline;
    
    em {
      font-weight: bold;
      font-style: normal;
    }
  }
  
  &.content {
    font-size: 1.2em;
    margin: 1em 2em;
    
    #read_further {
      font-size: 0.833em;
    }
  }
}