.news {
  &.heading {
    margin-bottom: .1em;
  }
  
  &.publish_at, &.updated_at {
    display: inline;
    
    em {
      font-weight: bold;
      font-style: normal;
    }
  }
  
  &.content, &.content_summary {
    &.simple_format {
      margin: .5em 1.5em;
      
      ul {
        margin-left: 1em;
        list-style: disc;
      }
      
      #read_further {
        font-size: 1em;
      }
    }
  }
}
