// Place all the styles related to the npcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.missing_npc_id {
  border-top: 1px solid red;
}

ul.api_formats {
  list-style-type: circle;
  li {
    margin-left: 1em;
  }
}

code.api_example {
  background-color: LightGray;
  border: 1px dashed grey;
  display: inline-block;
  padding: 0em 1em;  
}