.tooltip {
  span {
    z-index: 2;
    display: none;
    padding: 1em 1.8em;
  }
  
  &:hover span {
    display: inline; 
    position: absolute; 
    color: #111;
    border: 1px solid #DCA; 
    background: #fffAF0;
  }
}

/*CSS3 extras*/
.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}