/*
 * user.css
 */
 
#changes {
  table {
    border-collapse: collapse;
    
    th {
      border: none;
    }
    
    td {
      border: 1px solid black;
    }
  }
}

a.listimg {
  display: block;
  clear  : both;
}

#achievements {
  width: #{(50 * 7)}px;
  overflow: hidden;
  float: left;
  margin-right: 1em;
 
  li {
    float: left;
  }
}

#achievements_data {
  display: none;
  float: left;
  max-width: 30em;
    
  &+* {
    clear: both;
  }
  
  dl {
    dt {
      clear: both;
      float: left;
      font-weight: bold;
      margin-right: 1ch;
      margin-right: 5px;
      
      &:after {
        content: ":"
      }
    }
    
    dd {
      float: left
    }
  }
    
  h1 {
    font-size: 1.05em;
    font-weight: bold;
  }
}

.user {
  &.urls {
    li {
      border: 1px solid black;
      border-width: 0 1px 0 1px;
      float: left;
      padding: 0 .5em;
    }
  }
}

ol#achievements a {
  margin-bottom: 1px;
  margin-right: 9px;
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  
  img {
    position: absolute;
    left: 0px;
    top: 0px;
    
    &.active {
      border-left: 5px solid limegreen;
      z-index: 2;
    }
    
    &.inactive {
      padding-left: 5px;
      z-index: 1;
    }
  }
}