/* Importierte K-Style Zusatzkomponenten */
/* ©2013 by Isdrador (unterstuetzt durch bwoebi) - http://kstyle.no-domain.biz */
/* Optimiert fuer die Browser: Firefox, SeaMonkey, Safari, Chrome, Opera */

/* > WCV-Zusatzkomponente */
p[title$="%"]:after { content: " (&lt;3%)"; font-style: italic; }
p[title$=" 100%"]:after { content: " (100%)"; }
p[title$=" 99%"]:after { content: " (99%)"; }
p[title$=" 98%"]:after { content: " (98%)"; }
p[title$=" 97%"]:after { content: " (97%)"; }
p[title$=" 96%"]:after { content: " (96%)"; }
p[title$=" 95%"]:after { content: " (95%)"; }
p[title$=" 94%"]:after { content: " (94%)"; }
p[title$=" 93%"]:after { content: " (93%)"; }
p[title$=" 92%"]:after { content: " (92%)"; }
p[title$=" 91%"]:after { content: " (91%)"; }
p[title$=" 90%"]:after { content: " (90%)"; }
p[title$=" 89%"]:after { content: " (89%)"; }
p[title$=" 88%"]:after { content: " (88%)"; }
p[title$=" 87%"]:after { content: " (87%)"; }
p[title$=" 86%"]:after { content: " (86%)"; }
p[title$=" 85%"]:after { content: " (85%)"; }
p[title$=" 84%"]:after { content: " (84%)"; }
p[title$=" 83%"]:after { content: " (83%)"; }
p[title$=" 82%"]:after { content: " (82%)"; }
p[title$=" 81%"]:after { content: " (81%)"; }
p[title$=" 80%"]:after { content: " (80%)"; }
p[title$=" 79%"]:after { content: " (79%)"; }
p[title$=" 78%"]:after { content: " (78%)"; }
p[title$=" 77%"]:after { content: " (77%)"; }
p[title$=" 76%"]:after { content: " (76%)"; }
p[title$=" 75%"]:after { content: " (75%)"; }
p[title$=" 74%"]:after { content: " (74%)"; }
p[title$=" 73%"]:after { content: " (73%)"; }
p[title$=" 72%"]:after { content: " (72%)"; }
p[title$=" 71%"]:after { content: " (71%)"; }
p[title$=" 70%"]:after { content: " (70%)"; }
p[title$=" 69%"]:after { content: " (69%)"; }
p[title$=" 68%"]:after { content: " (68%)"; }
p[title$=" 67%"]:after { content: " (67%)"; }
p[title$=" 66%"]:after { content: " (66%)"; }
p[title$=" 65%"]:after { content: " (65%)"; }
p[title$=" 64%"]:after { content: " (64%)"; }
p[title$=" 63%"]:after { content: " (63%)"; }
p[title$=" 62%"]:after { content: " (62%)"; }
p[title$=" 61%"]:after { content: " (61%)"; }
p[title$=" 60%"]:after { content: " (60%)"; }
p[title$=" 59%"]:after { content: " (59%)"; }
p[title$=" 58%"]:after { content: " (58%)"; }
p[title$=" 57%"]:after { content: " (57%)"; }
p[title$=" 56%"]:after { content: " (56%)"; }
p[title$=" 55%"]:after { content: " (55%)"; }
p[title$=" 54%"]:after { content: " (54%)"; }
p[title$=" 53%"]:after { content: " (53%)"; }
p[title$=" 52%"]:after { content: " (52%)"; }
p[title$=" 51%"]:after { content: " (51%)"; }
p[title$=" 50%"]:after { content: " (50%)"; }
p[title$=" 49%"]:after { content: " (49%)"; }
p[title$=" 48%"]:after { content: " (48%)"; }
p[title$=" 47%"]:after { content: " (47%)"; }
p[title$=" 46%"]:after { content: " (46%)"; }
p[title$=" 45%"]:after { content: " (45%)"; }
p[title$=" 44%"]:after { content: " (44%)"; }
p[title$=" 43%"]:after { content: " (43%)"; }
p[title$=" 42%"]:after { content: " (42%)"; }
p[title$=" 41%"]:after { content: " (41%)"; }
p[title$=" 40%"]:after { content: " (40%)"; }
p[title$=" 39%"]:after { content: " (39%)"; }
p[title$=" 38%"]:after { content: " (38%)"; }
p[title$=" 37%"]:after { content: " (37%)"; }
p[title$=" 36%"]:after { content: " (36%)"; }
p[title$=" 35%"]:after { content: " (35%)"; }
p[title$=" 34%"]:after { content: " (34%)"; }
p[title$=" 33%"]:after { content: " (33%)"; }
p[title$=" 32%"]:after { content: " (32%)"; }
p[title$=" 31%"]:after { content: " (31%)"; }
p[title$=" 30%"]:after { content: " (30%)"; }
p[title$=" 29%"]:after { content: " (29%)"; }
p[title$=" 28%"]:after { content: " (28%)"; }
p[title$=" 27%"]:after { content: " (27%)"; }
p[title$=" 26%"]:after { content: " (26%)"; }
p[title$=" 25%"]:after { content: " (25%)"; }
p[title$=" 24%"]:after { content: " (24%)"; }
p[title$=" 23%"]:after { content: " (23%)"; }
p[title$=" 22%"]:after { content: " (22%)"; }
p[title$=" 21%"]:after { content: " (21%)"; }
p[title$=" 20%"]:after { content: " (20%)"; }
p[title$=" 19%"]:after { content: " (19%)"; }
p[title$=" 18%"]:after { content: " (18%)"; }
p[title$=" 17%"]:after { content: " (17%)"; }
p[title$=" 16%"]:after { content: " (16%)"; }
p[title$=" 15%"]:after { content: " (15%)"; }
p[title$=" 14%"]:after { content: " (14%)"; }
p[title$=" 13%"]:after { content: " (13%)"; }
p[title$=" 12%"]:after { content: " (12%)"; }
p[title$=" 11%"]:after { content: " (11%)"; }
p[title$=" 10%"]:after { content: " (10%)"; }
p[title$=" 9%"]:after { content: " (9%)"; }
p[title$=" 8%"]:after { content: " (8%)"; }
p[title$=" 7%"]:after { content: " (7%)"; }
p[title$=" 6%"]:after { content: " (6%)"; }
p[title$=" 5%"]:after { content: " (5%)"; }
p[title$=" 4%"]:after { content: " (4%)"; }
p[title$=" 3%"]:after { content: " (3%)"; }