<% @title = "FWRails Wartung" %>
<h1>FWRails entwickelt sich!</h1>
<p>Derzeit wird FWRails um neue Funktionen erweitert! Dieser Prozess sollte nur 
   wenige Minuten dauern. Hab also etwas Geduld und freu dich auf die neuen
   Features.</p>